{% load i18n static %}
{% load relationship_tags follow_tags userProfile_tags %}

{% if not is_incremental %}
<div class="scrollContainer topStores_v" data-href="{{data_href}}" data-chunk="{{data_chunk}}">
{% endif %}
{% for friend in friends %}
    <div class="row vendorResult {% if not forloop.first %}top6Margin{% endif %}">
        {% include 'generic/includes/render_owner.html' with owner=friend %}
        {% if friend != request.user %}
            <div class="span2_5 span0_5Height noGutter">
                <div class="row">
                    <div class="span2_5" style="line-height:normal;">
                        {% include 'relationships/render_name_for_list.html' with actor=friend %}  
                    </div>
                </div>
                <div class="row topHalfGutter">
                    <div class="span2_5" style="line-height:normal;margin-top:-5px;">
                        <span class="vendorFollowContainer pagination-centered {% relationship request.user friend "following" as following %}{% if following %} following {% endif %}" >
                            <button class="follow-btn makeYellowButton icon-follow" data-href="{{ friend|add_relationship_url:"following" }}">{% trans "Follow" %}</button>
                            <button class="icon-following makeYellowButton radioColor"><img class="noBoxShadow" src="{% static 'img/1transparent.png' %}">{% trans "Following" %}</button>
                            <button class="unfollow-btn makeYellowButton icon-unfollow radioColor" data-href="{{ friend|remove_relationship_url:"following" }}"><img class="noBoxShadow" src="{% static 'img/1transparent.png' %}">{% trans "Unfollow" %}</button>
                        </span>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="span2_5 span0_5Height noGutter">
                {% include 'relationships/render_name_for_list.html' with actor=friend %}
            </div>
        {% endif %}
    </div>
    <hr class="dottedSeparator">
    {% empty %}
    <div class="row vendorResult">
        <div class="span2_5 fontTitillium1 fontSize13">
            {% if profile_user %}
                {% if profile_user != request.user %}
                    {% if following == "true" %}
                        {% get_full_name profile_user %}{% trans " is not following anyone yet." %}
                    {% elif followers == "true"%}
                        {% get_full_name profile_user %}{% trans " has no followers yet." %}
                    {% endif %}
                {% else %}
                    {% if following == "true" %}
                        {% trans "You could follow some of your favourite people and stores on Wishradio to know the latest wishes and deals they're posting and know what they're up to." %}
                    {% elif followers == "true"%}
                        <div class="row">
                            <div class="span2_5">
                                {% trans "No one's following you yet."%}
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2_5">
                                {% trans "And that's totally ok."%}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% else %}
                {% trans "No Contacts to list." %}
            {% endif %}
        </div>
    </div>
{% endfor %}
    <div class="row vendorResult loader" style="display:none;">
        <div class="span3">
            <img src="{% static 'img/loading.gif' %}">
        </div>
    </div>
{% if not is_incremental %}
</div>
{% endif %}
