{% load i18n %}
{% load relationship_tags follow_tags %}

{% if not is_incremental %}
<div class="scrollContainer" style="max-height:600px;overflow:auto;" data-href="{{data_href}}" data-chunk="{{data_chunk}}">
{% endif %}
{% for friend in friends %}
    <div class="row vendorResult bottomHalfGutter">
        {% include 'generic/includes/render_owner.html' with owner=friend %}
        {% if friend != request.user %}
            <div class="span1 noGutter topHalfGutter">
                {% include 'actstream/render_actor_name.html' with actor=friend %}  
            </div>
            <div class="span1 halfGutter topHalfGutter">
                <span id="vendorFollowContainer" class="makeYellowButton {% if_relationship request.user friend "following" %} following {% endif_relationship %}" >
                    <a href="javascript:void(0)" class="follow-btn icon-follow" data-href="{{ friend|add_relationship_url:"following" }}">{% trans "Follow" %}</a>
                    <a class="icon-following radioColor">{% trans "Follow" %}</a>
                    <a href="javascript:void(0)" class="unfollow-btn icon-unfollow" data-href="{{ friend|remove_relationship_url:"following" }}"><img class="noBoxShadow" src="/static/img/1transparent.png"></a>
                </span>
            </div>
        {% else %}
            <div class="span2 noGutter topHalfGutter">
                {% include 'actstream/render_actor_name.html' with actor=friend %}  
            </div>
        {% endif %}
    </div>
{% endfor %}
{% if not is_incremental %}
</div>
{% endif %}
